{% extends 'base.html' %}

{% block title %}
Create Restaurant
{% endblock %}

{%block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">

        <div class="card">
            <div class="card-title">
                <h4>新增餐廳清單</h4>

            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" action="/create-restaurant">
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">餐廳名稱</p>
                            <input name="name" type="text" class="form-control input-default" required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">描述</p>
                            <input name="description" type="text" class="form-control input-default"
                                   required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">餐廳網址</p>
                            <input name="site_url" type="text" class="form-control input-default" required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">縣市</p>
                            <input name="city" type="text" class="form-control input-default" required="required">
                        </div>
                        <div class="form-group">
                            <p class="text-muted m-b-15 f-s-12">區域</p>
                            <input name="area" type="text" class="form-control input-default" required="required">
                        </div>
                        <button type="submit" class="btn btn-primary">新增</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}